body {
    font-family: 'Fjalla One', sans-serif;
    background-color: #1d3557 ;
    color:#F4F1DE;
}

button {
    display: block;
    padding: 10px 20px;
    margin: 10px auto;
    border: 10px;
}


/* Landing Page */
.welcome-area {
    text-align: center;
    margin: auto;
    padding: 20px;
    max-width: 70vw;
}

#pub-quiz-text {
    font-size: 50px;
}

/* Gameplay Area */
.gameplay-area {
    text-align: center;
    margin: auto;
    max-width: 80vw;
}

#current-score{
    text-align: right; 
    margin: auto;
    
}

.answer-area {
    align-items: center;
    margin: auto;
} 

 #question-info {
  margin: auto;
  padding: 20px;
  border: 20px;  
} 

#question-text{
    font-size: 20px;
    margin: 25px auto 0 auto;
}

#question-number{
    font-size: 30px;
    margin-bottom: 30px;
}

/* @media (min-width: 800px) {
    
    .welcome-area {
        height: 100%;
        width: 75%;
	}
    
    .gameplay-area {
		height: 100%;
        display: grid;	
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: 1fr 2fr 2fr;
    }

    .answer-area {
        grid-column: 2;
    }   

    #question-text {
    font-size: 15px;
    border: solid;
    margin: 25px;
    }
} */