/* General Website Settings */
body {
    background-image: url(Images/wood-bar-background.jpg);
    font-family: 'Fjalla One', sans-serif;
    /* background-color: #1d3557 ; */
    color:#F4F1DE;
    text-align: center;
    margin: auto;
}

button {
    display: block;
    padding: 10px 20px;
    margin: 10px auto;
    border: 10px;
    border-radius: 5px;
    width: 50%;     
}



/* Modal Styling */

#instructionsModal {
	background-color: rgba(0,0,0,0.4);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
	overflow: auto;
    display: none;
}

#modal-textbox {
    text-align: center;
	background-color:#1d3557;
	height: 70vh;
	width: 80vw;
	border-radius: 5px;
	margin: 100px auto;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    padding: 10px;
}

#openInstructionsModal{
    display: block;
    float: right;
    width: fit-content;
    height: fit-content;
    padding: 5px;
    margin: 0px;
    border: 0px;
}

#close-modal {
    float: right;
}


/* Landing Page */

input[type=text] {
    padding: 5px; 
    border: 2px solid #ccc; 
    border-radius: 5px;
    text-align: center;
}

input[type=button] {
    display: block;
    padding: 5px;
    margin: 8px auto;
    border: 10px;
    border-radius: 5px;
}

/* #category-selection {
    display: none;
} */

#welcome-area {
    text-align: center;
    margin: auto;
    padding: 20px;
    max-width: 70vw;
}

.large-text {
    font-size: 50px;
}

.medium-text {
    font-size: 20px;
}

/* Gameplay Area */
.gameplay-area {
    text-align: center;
    margin: auto;
    max-width: 80vw;
}

#current-score{
    text-align: right; 
    margin: auto;
}

#answer-area {
    align-items: center;
    margin: auto;
} 

 #question-info {
  margin: auto;
  padding: 20px;
  border: 20px;  
} 

#question-text{
    font-size: 20px;
    margin: 25px auto 0 auto;
}

#question-number{
    font-size: 30px;
    margin-bottom: 30px;
}

#category {
    margin: 7px;
}

#answer-message{
    margin: 18px;
    font-size: 25px;
    color: #c2d5db;
}


#game-over {
    text-align: center;
    margin: auto;
    max-width: 80vw;
    font-size: 50px;
    vertical-align: middle;
    display: none;
}

#final-score {
    margin: 30px;

}


/* 
@media (min-width: 800px) {
    
    .welcome-area {
        height: 100%;
        width: 75%;
	}
} */